.calendar {
    margin: auto;
    width: 400px;
    color: #fff;
    padding-top: 150px;
}

.title {
    margin: 0;
    margin-bottom: 130px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
}

.header {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}

.header__button {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    color: #EBADEB;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__month {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

.table {
    margin-top: 50px;
    margin: auto;
    width: 400px;
    color: #C2C5CC;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    background-color: #272727;
    border-radius: 10px;
}

.calendar__day:hover {
    color: #fff;
    background-color:#EBADEB;
}

@media all and (max-width: 450px) {
    .calendar {
        width: 300px;
        padding-top: 100px;
    }

    .title {
        margin-bottom: 100px;
        font-size: 30px;
    }

    .header__button {
        font-size: 15px;
    }

    .header__month {
        font-size: 20px;
    }

    .table {
        width: 300px;
        line-height: 30px;
    }
}