.calendar {
    margin: auto;
    width: 280px;
}

.title {
    text-align: left;
}

.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.header__before {

}

.header__month {

}

.header__after {

}

.table {
    margin: auto;
}